# This CODEOWNERS file is to ensure that we have proper PR approvals

# The SRE team owns the CI/CD and automation that runs the service
.github/workflows/*  @philipdelorenzo
scripts/init.sh      @philipdelorenzo
.github/workflows/*  @philipdelorenzo
scripts/python.txt   @philipdelorenzo

# The Platform team owns the infrastructure and code that runs the service
Makefile              @philipdelorenzo
Brewfile              @philipdelorenzo
.tool-versions        @philipdelorenzo

# The Legal team owns the legal and compliance aspects of the service
LICENSE               @philipdelorenzo
